/* *************************************
CONTROL & RESET
****************************************
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(241, 183, 180); */
}

/* *************************************
HEADER
****************************************
*/
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: orange;
    /* debug */
    height: 70px;
}

/* *************************************
MAIN
****************************************
*/
section{
    padding: 50px 0 100px 0;
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    /* debug */
    /* background-color: rgb(244, 192, 166); */
    /* height: 500px; */
}

.row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    /* debug */
    /* background-color: lightcoral; */
    /* height: 200px; */
}

card{
    position: relative;
}

.column-width30{
    width: 30%;
    margin-right: 20px;
    margin-bottom: 40px;
    position: relative;
}

.heart{
    font-size: 2rem;
    background-color: white;
    position: absolute;
    top: 2%;
    left: 88%;
    border: 0;
}

.discount-banner{
    color: white;
    background-color: red;
    position: absolute;
    padding: 6px 10px 6px 10px;
    bottom: 19%;
}
.sostenibilita-banner{
    color: white;
    background-color: green;
    position: absolute;
    padding: 6px 10px 6px 10px;;
    top: 75%;
    left: 21%;
}
.position-sost{
    position: absolute;
    left: 0;
}

/* *************************************
FOOTER
****************************************
*/
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    /* debug */
    height: 90px;
}
