/* *************************************
CONTROL & RESET
**************************************** 
*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
img {
    max-width: 100%;
}

/* body {
    background-color: rgb(241, 183, 180);
} */

/* *************************************
HEADER
**************************************** 
*/ 
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: orange;
    /* debug */
    height: 70px;
}

/* *************************************
MAIN
**************************************** 
*/ 
section{
    padding: 30px 0;    
}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    /* debug */
    background-color: rgb(244, 192, 166);
    /* height: 500px; */
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* debug */
    background-color: lightcoral;
    /* height: 200px; */
} 

card{
    position: relative;
}

.column-width30{
    width: 30%;
    margin-bottom: 20px;
}

/* *************************************
FOOTER
**************************************** 
*/ 
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    /* debug */
    height: 90px;
}
