* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
img {
    max-width: 100;
}

/* body {
    background-color: rgb(241, 183, 180);
} */

section{
    padding: 30px 0;    
}

.container{
    width: 80%;
    margin: 0;
    /* debug */
    background-color: rgb(244, 192, 166);
    height: 500px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* debug */
    background-color: lightcoral;
    height: 200px;
}   